<%= render "layouts/navbar" %>

<h1>My Lists</h1>


<div class="container">
  <ul>
    <div class="cards" class="flex-container">
      <% @lists.each do |f| %>
        <li class="card-category" class="flex-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <%= link_to f.name, list_path(f) %></li>
      <% end %>
    </div>
  </ul>
</div>
